GxUtils/GxUtils.v12.suo
GxUtils/GxExtender/bin
GxUtils/GxExtender/obj
GxUtils/GxLoadSaveTestApp/bin
GxUtils/GxLoadSaveTestApp/obj
GxUtils/GxModelViewer/bin
GxUtils/GxModelViewer/obj
GxUtils/GxUtils/GxModelViewer/publish
GxUtils/GxModelViewer_WinFormsExt/bin
GxUtils/GxModelViewer_WinFormsExt/obj
GxUtils/LibGxFormat/bin
GxUtils/LibGxFormat/obj
GxUtils/LibGxTexture/bin
GxUtils/LibGxTexture/obj
GxUtils/TreeViewMS/bin
GxUtils/TreeViewMS/obj
GxUtils/.vs/GxUtils/v16/.suo
GxUtils/.vs/GxUtils/v16/Server/sqlite3/db.lock
GxUtils/.vs/GxUtils/v16/Server/sqlite3/storage.ide
GxUtils/.vs/GxUtils/v16/Server/sqlite3/storage.ide-shm
GxUtils/.vs/GxUtils/v16/Server/sqlite3/storage.ide-wal
GxUtils/.vs/GxUtils/v16/.suo
GxUtils/.vs/GxUtils/v16/Server/sqlite3/storage.ide
